{{!-- Template that Handlebars can render onto. --}}


{{!-- button that submit the user input into the database.--}}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS & JavaScript Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Path to assets/css/burger_style.cs -->
    <script src="assets/css/burger_style.cs"></script>

    <title>Eat-Da-Burger App</title>

  </head>

<body>
  <!-- img -->
  <div>
	{{{ body }}}
  </div>

  <hr>

  <!-- /container -->
  <footer class=" center footer">
    <div class="container">
      <p> Copyright © Seirra Dawson 2018</p>
    </div>
  </footer>

</body>

</html>